name: NPM Package Publish
'on':
  workflow_call:
    secrets:
      npm-token:
        required: true
    inputs:
      build-command:
        type: string
        required: false
        default: "npm run build"
      test-command:
        type: string
        required: false
        default: "npm run test --if-present"
      generate-documentation-command:
        required: false
        type: string
        default:  "npx --yes typedoc ./src/main.ts"
        description: "The command that will be executed to generate documentation"
      should-generate-documentation:
        required: false
        type: boolean
        default: true
        description: "Flag to determine if documentation should be generated"
      nodejs-version:
        required: false
        type: string
        default: "18.17.1"
        description: "Nodejs version"
        
jobs:
  check-is-version-updated:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - id: check-is-version-updated
        uses: FreePhoenix888/is-npm-package-version-changed-github-action@0.0.7
      - run: 'echo ${{ steps.check-is-version-updated.outputs.is-version-changed }}'
    outputs:
      is-version-changed: '${{ steps.check-is-version-updated.outputs.is-version-changed }}'
      
  publish:
    runs-on: ubuntu-latest
    needs:
      - check-is-version-updated
    if: '${{ needs.check-is-version-updated.outputs.is-version-changed == ''true'' }}'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '${{inputs.nodejs-version}}'
      - run: npm i -g npm@latest
      - run: npm clean-install
      - run: '${{ inputs.build-command }}'
      - run: '${{ inputs.test-command }}'
      - name: Generate Documentation
        id: generate-docs
        run: '${{ inputs.generate-documentation-command }}'
        if: ${{ inputs.should-generate-documentation }}
      - uses: JS-DevTools/npm-publish@v1
        id: publish
        with:
          token: '${{ secrets.npm-token }}'
      - name: Create Github Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: '${{ steps.publish.outputs.version }}'
          name: '${{ steps.publish.outputs.version }}'
          body: '${{ steps.publish.outputs.version }}'
    outputs:
      new-version: '${{ steps.publish.outputs.version }}'
